@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* 
{
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
  background-color: #ecf0f1;
  font-family: 'Lobster', cursive;
}

.header {
  width: 100%;
  line-height: 80px;
  background-color: #f5ba13;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
  color: #ecf0f1;
  box-shadow: 5px 3px 15px -5px rgba(0,0,0,0.8);
}

.header h1{
  background-color: #f5ba13;
  color: #fff;
}
.main_note {
  width: 500px;
  padding: 15px 10px 5px 10px;
  margin: 20px auto;
}
.my-notes h1 {
  color: #34495e;
}
.my-notes p {
  color: grey;
}
/* .form {
  min-height: 50px;
  color: #ecf0f1;
  padding: 15px 10px 5px 10px;
  box-shadow: 3px 5px 15px -5px rgba(0,0,0,1);
  border-radius: 10px;
  position: relative;
} */
input {
  width: 100%;
  list-style: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: bold;
}
textarea {
  width: 100%;
  line-height: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  margin: 10px 0;
}
.MuiButton-root {
  width: 40px;
  height: 50px;
  position: absolte;
  bottom: -28px;
  left: 400px;
  cursor: pointer;
  background-color: white!important;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,1.0);
  border-radius: 50% !important;
}
.MuiButton-root .plus-sign {
  background: transparent;
  cursor: pointer;
  font-size: 35px !important;
  font-weight: 900;
  color: #f4b400;
  z-index: 222;
}
.MuiButton-root:hover {
  background-color: #f4b400 !important;
}
.MuiButton-root:hover .plus-sign {
  color: #fff;
  background: transparent;
}
.note {
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note .btn {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f4b400;
  border: none;
  width: 50px;
  height: 50px;
  /* background: transparent; */
  outline: none;
  cursor: pointer;
  box-shadow: 3px 3px 15px -10px rgba(0,0,0,1.0);
  border-radius: 50%;
}
.note p{
 font-size: 1.1rem;
 margin-bottom: 10px;
 white-space: pre-wrap;
}

.deleteIcon {
  width: 0.7em;
  height: 0.7em;
}

.note .btn:hover {
  background-color: #f5ba13;
}
.note .btn:hover .deleteIcon {
  color: #f5ba13;
}
footer{
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 0;
}